{% load static %}

{% block page_content %}
<div id="results">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 infinite-container">
            {% for image in images %}
            <div class="col result infinite-item">
                <div class="card shadow-sm">
                    <a href="{% url 'drink_detail' image.drink.slug %}">
                        <img class="card-img-top" src="{% static 'images/'|add:image.filename %}"
                            alt="{{ image.drink.name }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if images.has_next %}
        <a class="infinite-more-link" href="?page={{ images.next_page_number }}">More</a>
        {% endif %}

        <div class="loading" style="display: none;">
            Loading...
        </div>

        <script>
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.loading').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.loading').hide();
                }
            });
        </script>
    </div>
</div>
{% endblock page_content %}