{% extends "base.html" %}
{% load static %}

{% block search_bar %}
<div class="container-fluid shadow-sm search_bar">
    <div class="row justify-content-center">
        <div class="col-md-8 py-3">
            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" name="q"
                        placeholder="Search by drink name or ingredient" hx-get="{% url 'drink_index_partial' %}"
                        hx-target="#results" hx-trigger="input delay:0.2s">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock search_bar %}

{% block page_content %}
<div class="album py-3 bg-light" id="results">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 infinite-container">
            {% for image in images %}
            <div class="col result infinite-item">
                <div class="card shadow-sm">
                    <a href="{% url 'drink_detail' image.drink.slug %}">
                        <img class="card-img-top" src="{% static 'images/'|add:image.filename %}"
                            alt="{{ image.drink.name }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if images.has_next %}
        <a class="infinite-more-link" href="?page={{ images.next_page_number }}">More</a>
        {% endif %}

        <div class="loading" style="display: none;">
            Loading...
        </div>

        <script>
            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.loading').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.loading').hide();
                }
            });
        </script>
    </div>
</div>
{% endblock page_content %}