{% load static %}

<div class="container-fluid shadow-sm search_bar">
    <div class="row justify-content-center">
        <div class="col-md-8 py-3">
            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-bar" aria-label="Text input with dropdown button"
                        name="q" placeholder="Search" hx-get="{% url 'drink_index_partial' %}" hx-target="#results"
                        hx-trigger="input delay:0.2s" hx-vals='{"sort": "alpha-asc"}'>
                    <button class="btn btn-outline-light dropdown-toggle" id="sort-button" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false" value="alpha-asc" name="sort"
                        hx-get="{% url 'drink_index_partial' %}" hx-target="#results"
                        hx-trigger="click from:.dropdown-item delay:0.2s" hx-include="#search-bar">Sort by:</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item active" value="alpha-asc">A-Z</a></li>
                        <li><a class="dropdown-item" value="alpha-desc">Z-A</a></li>
                        <li><a class="dropdown-item" value="chron-desc">New-Old</a></li>
                        <li><a class="dropdown-item" value="chron-asc">Old-New</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>